---
layout: layouts/base.njk
---
<div class="page">
  <a class="skip-link" href="#main">Skip to content</a>
  <header class="site-header">
    <a class="back-link" href="/">&larr; {{ site.name }}</a>
    {% include "partials/theme-toggle.njk" %}
  </header>
  <main id="main" tabindex="-1" class="page-main">
    {{ content | safe }}
  </main>
  {% include "partials/footer.njk" %}
</div>
